[run]
branch = true
parallel = true
# plugins = Cython.Coverage

[report]
skip_covered = True
show_missing = True
exclude_lines =
    \#\s*pragma: no cover
    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^\s*raise$
    ^if __name__ == ['"]__main__['"]:$

[paths]
source = src/pylibsshext
         */.tox/*/src/python*/site-packages/pylibsshext
         */.tox/pypy*/site-packages/pylibsshext
         */src/pylibsshext
         /tmp/ansible_pylibssh-manylinux1-build.*/venvs/*/lib/python*/site-packages/pylibsshext
