---
repos:
- repo: https://github.com/timothycrosley/isort
  rev: 5.1.1
  hooks:
  - id: isort
    args:
    - --honor-noqa
    files: >-
      ^.*\.p(xd|y|yx)$
    types: [file]

- repo: https://github.com/asottile/add-trailing-comma
  rev: v0.7.1
  hooks:
  - id: add-trailing-comma

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.6
  hooks:
  - id: remove-tabs

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    exclude: >-
      ^(docs/requirements|requirements-build)\.txt$

  # Non-modifying checks:
  - id: name-tests-test
    files: >-
      ^tests/[^_].*\.py$
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  #- id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
    # args:
    # - --unsafe
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
    exclude: >-
      ^docs/_samples/.*\.py$
  - id: debug-statements
    exclude: >-
      ^docs/_samples/.*\.py$

- repo: https://gitlab.com/pycqa/flake8.git
  rev: 3.8.2
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020>=1.6.0
    - flake8-docstrings
    - flake8-eradicate>=1.0.0
    - flake8-pytest-style>=1.0.0
    - isort<5  # https://github.com/gforcada/flake8-isort/issues/88
    - wemake-python-styleguide
    files: >-
      ^.*\.p(xd|y|yx)$
    exclude: >-
      ^docs/_samples/.*\.py$
    types: [file]

- repo: https://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.0
  hooks:
  - id: rst-linter
    files: >-
      ^README\.rst$

- repo: https://github.com/pycqa/pydocstyle.git
  rev: 5.0.2
  hooks:
  - id: pydocstyle
    exclude: >-
      ^docs/_samples/.*\.py$

# - repo: local
#   hooks:
#   - id: pylint
#     language: system
#     name: PyLint
#     files: \.py$
#     entry: python -m pylint
#     args: []
