---
repos:
- repo: git://github.com/timothycrosley/isort
  rev: 4.3.21
  hooks:
  - id: isort
    # FIXME: isort can be enabled for cython once v5.0.0 is out
    # files: >-
    #   ^.*\.p(xd|y|yx)$
    # types: [file]

- repo: git://github.com/asottile/add-trailing-comma
  rev: v0.7.1
  hooks:
  - id: add-trailing-comma

- repo: git://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.6
  hooks:
  - id: remove-tabs

- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    exclude: >-
      ^requirements-build\.txt$

  # Non-modifying checks:
  - id: name-tests-test
    files: >-
      ^tests/[^_].*\.py$
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  #- id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
    # args:
    # - --unsafe
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: https://gitlab.com/pycqa/flake8.git
  rev: 3.8.2
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020>=1.6.0
    - flake8-docstrings
    - flake8-pytest-style>=1.0.0
    - wemake-python-styleguide
    files: >-
      ^.*\.p(xd|y|yx)$
    types: [file]

- repo: git://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.0
  hooks:
  - id: rst-linter
    files: >-
      ^.*\.rst$

- repo: git://github.com/pycqa/pydocstyle.git
  rev: 5.0.2
  hooks:
  - id: pydocstyle

# - repo: local
#   hooks:
#   - id: pylint
#     language: system
#     name: PyLint
#     files: \.py$
#     entry: python -m pylint
#     args: []
