---
ci:
  autoupdate_schedule: quarterly

repos:
- repo: https://github.com/asottile/add-trailing-comma.git
  rev: v2.2.3
  hooks:
  - id: add-trailing-comma

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args:
    - --honor-noqa
    files: >-
      ^.*\.p(xd|y|yx)$
    types: [file]

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.3.0
  hooks:
  - id: remove-tabs

- repo: https://github.com/pre-commit/pygrep-hooks.git
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-mock-methods
  - id: python-no-eval
  - id: python-no-log-warn
  - id: rst-backticks

- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.3.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    exclude: >-
      ^(docs/requirements|requirements-build)\.txt$

  # Non-modifying checks:
  - id: name-tests-test
    files: >-
      ^tests/[^_].*\.py$
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  #- id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
    # args:
    # - --unsafe
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
    exclude: >-
      ^docs/_samples/.*\.py$
  - id: debug-statements
    exclude: >-
      ^docs/_samples/.*\.py$

- repo: https://github.com/PyCQA/pydocstyle.git
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    exclude: >-
      ^docs/_samples/.*\.py$

- repo: https://github.com/PyCQA/flake8.git
  rev: 4.0.1
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020>=1.6.0
    - flake8-docstrings
    - flake8-eradicate>=1.0.0
    - flake8-pytest-style>=1.0.0
    - isort<5  # https://github.com/gforcada/flake8-isort/issues/88
    - wemake-python-styleguide
    files: >-
      ^.*\.p(xd|y|yx)$
    exclude: >-
      ^docs/_samples/.*\.py$
    types: [file]

- repo: https://github.com/Lucas-C/pre-commit-hooks-markup.git
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: >-
      ^README\.rst$

# - repo: local
#   hooks:
#   - id: pylint
#     language: system
#     name: PyLint
#     files: \.py$
#     entry: python -m pylint
#     args: []
