(tls) {
    tls paul.l.kehrer@gmail.com
    header / {
        Strict-Transport-Security "max-age=31557600; includeSubDomains; preload"
        Expect-CT "enforce, max-age=31536000"
    }
}

cryptography.io {
    import tls
    proxy / https://cryptography.readthedocs.io {
        transparent
        header_upstream X-RTD-SLUG cryptography
        header_downstream Strict-Transport-Security "max-age=31557600; includeSubDomains; preload"
    }
}

www.cryptography.io {
    import tls
    redir / https://cryptography.io{uri} 301
}
