(tls) {
    tls paul.l.kehrer@gmail.com
    header / {
        Strict-Transport-Security "max-age=31557600; includeSubDomains; preload"
    }
}

cryptography.io {
    import tls
    proxy / https://cryptography.readthedocs.io {
        transparent
        header_upstream X-RTD-SLUG cryptography
    }
}

pyopenssl.org {
    import tls
    proxy / https://pyopenssl.readthedocs.io {
        transparent
        header_upstream X-RTD-SLUG pyopenssl
    }
}

www.pyopenssl.org {
    import tls
    redir / https://pyopenssl.org{uri} 301
}

ci.cryptography.io {
    import tls
    proxy / jenkins:8080 {
        transparent
        fail_timeout 0
    }
}
