[Unit]
Description=Caddy
After=docker.service jenkins.service
Requires=docker.service jenkins.service

[Service]
Restart=on-failure
ExecStartPre=-/usr/bin/docker kill caddy
ExecStartPre=-/usr/bin/docker rm caddy
# The volume is to allow caddy to cache certs
ExecStart=/usr/bin/docker run \
    --rm --read-only --tmpfs=/tmp \
    -p 443:443 -p 80:80 \
    --link jenkins:jenkins \
    -v caddy_certs:/.caddy \
    --name caddy pyca/caddy

[Install]
WantedBy=multi-user.target
