[Unit]
Description=Caddy
After=docker.service jenkins.service
Requires=docker.service jenkins.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill caddy
ExecStartPre=-/usr/bin/docker rm caddy
# The volume is to allow caddy to cache certs
ExecStart=/usr/bin/docker run \
    --rm --read-only --tmpfs \
    -p 443:443 -p 80:80 \
    --link jenkins:jenkins \
    -v caddy_certs:/root/.caddy \
    --name caddy caddy

[Install]
WantedBy=multi-user.target
