[Unit]
Description=Jenkins
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill jenkins
ExecStartPre=-/usr/bin/docker rm jenkins
ExecStart=/usr/bin/docker run \
    --rm --read-only --tmpfs=/tmp \
    -p 50000:50000 \
    -e JENKINS_OPTS="--sessionTimeout=907200" \
    -e JAVA_OPTS="-Djenkins.branch.WorkspaceLocatorImpl.PATH_MAX=20" \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v jenkins_home:/var/jenkins_home \
    --name jenkins pyca/crypto-jenkins

[Install]
WantedBy=multi-user.target
